@import "_variables.scss";

@mixin body {
    font-family: 'Poppins', sans-serif;
    font-display: auto;
    background: $backgroundColor;
}

@mixin btn {
    background-color: $primaryColor;
    border-color: $primaryColor;

    &:hover {
        background-color: $primaryColor-dark;
    }

    &:active {
        background-color: $primaryColor-dark !important;
    }
}

@mixin dropdown {
    background-color: white;
}